#NoDrag {
  -webkit-app-region: no-drag;
}

.AppHeader {
  -webkit-app-region: drag;
  background-color: #e5a12a;
}

.AppTitle {
  display: flex;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
.plyr {
  border-radius: 4px;
  margin-bottom: 15px;
}
